aiohttp==3.7.4.post0
aiosqlite==0.17.0
async-timeout==3.0.1
attrs==21.4.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
decorator==5.1.1
discord-py-interactions==4.1.0
discord.py==1.7.3
Flask==2.0.3
greenlet==1.1.2
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
multidict==6.0.2
numpy==1.22.2
orjson==3.6.7
pbr==5.8.1
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.31
sqlalchemy-migrate==0.13.0
sqlparse==0.4.2
Tempita==0.5.2
typing_extensions==4.1.1
urllib3==1.26.8
Werkzeug==2.0.3
yarl==1.7.2
youtube-dl==2021.12.17
